@page
@model Tp01_CSharpPart_02.Pages.Ex09.Exercicio09

<<div class="container mt-5">

    <h1 class="mb-4">09 – ASP.NET Core</h1>

    <h4 style="color:#084d6e
    ; font-weight:bold;">
        What is the purpose of the Pages folder?
    </h4>
    <p class="fs-5">
        The Pages folder is where the application's pages are created and organised.
        Each page usually has a .cshtml file for the interface and a .cshtml.cs file for the logic.
        It is responsible for displaying content and allowing users to access different parts of the system.
    </p>

    <h4 style="color:#084d6e; font-weight:bold;">
        What is the role of the Program.cs file?
    </h4>
    <p class="fs-5">
        Program.cs is the main entry point of the application.
        It is responsible for starting the system, configuring the necessary services,
        and setting up how the application handles requests before it runs.
    </p>

    <h4 style="color:#084d6e; font-weight:bold;">
        Where are the application services configured?
    </h4>
    <p class="fs-5">
        The application services are configured in the Program.cs file.
        They are added using builder.Services before the application starts running.
    </p>

    <h4 style="color:#084d6e; font-weight:bold;">
        How is URL routing handled in Razor Pages?
    </h4>
    <p class="fs-5">
        URL routing in Razor Pages is based on the folder and file structure inside the Pages directory.
        The location and name of the .cshtml file automatically define the URL.
    </p>

</div>
