@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 mb-5 fw-bold">Welcome to TP01 C# </h1>
    

    
        <div class="mb-5 fw-bold fs-5">
            <a href="/Ex08/Exercicio08"> Exercise 08</a><br><br>
            <a href="/Ex09/Exercicio09">  Exercise 09</a><br><br>
            <a href="/Ex10/Exercicio10"> Exercise 10</a><br><br>
            <a href="/Ex11/Exercicio11"> Exercise 11</a><br><br>
            <a href="/Ex12/Exercicio12"> Exercise 12</a><br><br>
        </div>
        
    
</div>
